<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BeehiveMapper">
    
    <resultMap type="Beehive" id="BeehiveResult">
        <result property="beehiveId"    column="beehive_id"    />
        <result property="apiaryId"    column="apiary_id"    />
        <result property="beehiveName"    column="beehive_name"    />
        <result property="beehiveStatus"    column="beehive_status"    />
        <result property="beehiveGroup"    column="beehive_group"    />
        <result property="location"    column="location"    />
        <result property="power"    column="power"    />
    </resultMap>

    <!-- 带名称的结果映射 -->
    <resultMap type="Beehive" id="BeehiveResultWithNames">
        <result property="beehiveId"    column="beehive_id"    />
        <result property="apiaryId"    column="apiary_id"    />
        <result property="beehiveName"    column="beehive_name"    />
        <result property="beehiveStatus"    column="beehive_status"    />
        <result property="beehiveGroup"    column="beehive_group"    />
        <result property="location"    column="location"    />
        <result property="power"    column="power"    />
        <result property="apiaryName"    column="apiary_name"    />
    </resultMap>

    <sql id="selectBeehiveVo">
        select beehive_id, apiary_id, beehive_name, beehive_status, beehive_group, AsText(location) as location, power from beehive
    </sql>

    <sql id="selectBeehiveVoWithNames">
        select b.beehive_id, b.apiary_id, b.beehive_name, b.beehive_status, b.beehive_group, AsText(b.location) as location, b.power,
               a.apiary_name
        from beehive b
        left join apiary a on b.apiary_id = a.apiary_id
    </sql>

    <select id="selectBeehiveList" parameterType="Beehive" resultMap="BeehiveResultWithNames">
        <include refid="selectBeehiveVoWithNames"/>
        <where>
            <if test="beehiveId != null "> and b.beehive_id = #{beehiveId}</if>
            <if test="apiaryId != null "> and b.apiary_id = #{apiaryId}</if>
            <if test="beehiveName != null  and beehiveName != ''"> and b.beehive_name like concat('%', #{beehiveName}, '%')</if>
            <if test="beehiveStatus != null "> and b.beehive_status = #{beehiveStatus}</if>
            <if test="beehiveGroup != null "> and b.beehive_group = #{beehiveGroup}</if>
            <if test="location != null  and location != ''"> and b.location = #{location}</if>
            <if test="power != null and power != ''"> and b.power = #{power}</if>
        </where>
    </select>
    
    <select id="selectBeehiveByBeehiveId" parameterType="Long" resultMap="BeehiveResult">
        <include refid="selectBeehiveVo"/>
        where beehive_id = #{beehiveId}
    </select>

    <select id="selectBeehiveByPower" parameterType="String" resultMap="BeehiveResult">
        <include refid="selectBeehiveVo"/>
        where power = #{power}
    </select>

    <insert id="insertBeehive" parameterType="Beehive" useGeneratedKeys="true" keyProperty="beehiveId">
        insert into beehive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="beehiveId != null">beehive_id,</if>
            <if test="apiaryId != null">apiary_id,</if>
            <if test="beehiveName != null and beehiveName != ''">beehive_name,</if>
            <if test="beehiveStatus != null">beehive_status,</if>
            <if test="beehiveGroup != null">beehive_group,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="power != null and power != ''">power,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="beehiveId != null">#{beehiveId},</if>
            <if test="apiaryId != null">#{apiaryId},</if>
            <if test="beehiveName != null and beehiveName != ''">#{beehiveName},</if>
            <if test="beehiveStatus != null">#{beehiveStatus},</if>
            <if test="beehiveGroup != null">#{beehiveGroup},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="power != null and power != ''">#{power},</if>
         </trim>
    </insert>

    <update id="updateBeehive" parameterType="Beehive">
        update beehive
        <trim prefix="SET" suffixOverrides=",">
            <if test="apiaryId != null">apiary_id = #{apiaryId},</if>
            <if test="beehiveName != null and beehiveName != ''">beehive_name = #{beehiveName},</if>
            <if test="beehiveStatus != null">beehive_status = #{beehiveStatus},</if>
            <if test="beehiveGroup != null">beehive_group = #{beehiveGroup},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="power != null and power != ''">power = #{power},</if>
        </trim>
        where beehive_id = #{beehiveId}
    </update>

    <delete id="deleteBeehiveByBeehiveId" parameterType="Long">
        delete from beehive where beehive_id = #{beehiveId}
    </delete>

    <delete id="deleteBeehiveByBeehiveIds" parameterType="String">
        delete from beehive where beehive_id in 
        <foreach item="beehiveId" collection="array" open="(" separator="," close=")">
            #{beehiveId}
        </foreach>
    </delete>
</mapper>